@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

header {
  padding: 20px 0;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right p {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttons button {
  width: 167px;
  height: 40px;
  background-color: #3040e5;
  border-radius: 43px;
  border: none;
  color: white;
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icons i {
    font-size: 24px;
}

.button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button-parent button {
    background-color: transparent;
    border: none;
}